<app-page-title [Title]="'Licenses'" [pageTitle]="'Pages'"></app-page-title>

<div class="grid grid-cols-12 gap-x-space">
  <div class="col-span-12">
    <div class="card">
      <div class="card-header">
        <h6>Standard Licenses</h6>
      </div>
      <div class="card-body">
        <p class="mb-5 text-gray-500 dark:text-dark-500">The majority of our items (themes, code, graphics, 3D and
          flash) are covered by our <b>Standard Licenses</b>. If your end product including the item is going to be free
          to the end user then a <b>Regular License</b> is what you need. An <b>Extended License</b> is required if the
          end user must pay to use the end product.</p>

        <div class="overflow-x-auto">
          <table class="table even-striped">
            <tbody>
              <tr>
                <th></th>
                <th>
                  <div>
                    <h6>Regular</h6>
                    <a href="javascript: void(0);"
                      class="text-sm font-normal text-gray-500 underline transition duration-300 ease-linear dark:text-dark-500 hover:text-primary-500 dark:hover:text-primary-500">view
                      full license</a>
                  </div>
                </th>
                <th>
                  <div>
                    <h6>Extended</h6>
                    <a href="javascript: void(0);"
                      class="text-sm font-normal text-gray-500 underline transition duration-300 ease-linear dark:text-dark-500 hover:text-primary-500 dark:hover:text-primary-500">view
                      full license</a>
                  </div>
                </th>
              </tr>
              <tr>
                <td class="whitespace-nowrap">Number of end products</td>
                <td class="text-center whitespace-nowrap">1</td>
                <td class="text-center whitespace-nowrap">1</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap">Use in a single end product</td>
                <td class="text-center whitespace-nowrap">
                  <lucide-angular name="check" class="mx-auto text-green-500 size-4"></lucide-angular>
                </td>
                <td class="text-center whitespace-nowrap">
                  <lucide-angular name="check" class="mx-auto text-green-500 size-4"></lucide-angular>
                </td>
              </tr>
              <tr>
                <td class="whitespace-nowrap">Use in a free end product</td>
                <td class="text-center whitespace-nowrap">
                  <lucide-angular name="check" class="mx-auto text-green-500 size-4"></lucide-angular>
                </td>
                <td class="text-center whitespace-nowrap">
                  <lucide-angular name="check" class="mx-auto text-green-500 size-4"></lucide-angular>
                </td>
              </tr>
              <tr>
                <td class="whitespace-nowrap">Use in an end product that's sold</td>
                <td class="text-center whitespace-nowrap">
                  <lucide-angular name="x" class="mx-auto text-red-500 size-4"></lucide-angular>
                </td>
                <td class="text-center whitespace-nowrap">
                  <lucide-angular name="check" class="mx-auto text-green-500 size-4"></lucide-angular>
                </td>
              </tr>
              <tr>
                <td class="whitespace-nowrap">On-demand products/services</td>
                <td class="text-center whitespace-nowrap">One license per each customized end produc</td>
                <td class="text-center whitespace-nowrap">
                  <lucide-angular name="x" class="mx-auto text-red-500 size-4"></lucide-angular>
                </td>
              </tr>
              <tr>
                <td class="whitespace-nowrap">Use in stock items/templates</td>
                <td class="text-center whitespace-nowrap">
                  <lucide-angular name="x" class="mx-auto text-red-500 size-4"></lucide-angular>
                </td>
                <td class="text-center whitespace-nowrap">
                  <lucide-angular name="x" class="mx-auto text-red-500 size-4"></lucide-angular>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h6 class="mt-4 mb-2">Note to freelancers and creative agencies:</h6>
        <p class="mb-4 text-gray-500 dark:text-dark-500">You may charge your client for your services to create an end
          product, even under the Regular License. But you can’t use one of our Standard Licenses on multiple clients or
          jobs.</p>

        <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
          <div class="mb-0 card">
            <div class="card-body">
              <div class="flex items-center justify-center size-16 bg-gradient-to-b from-sky-500/10 rounded-modern">
                <lucide-angular name="MessageCircleQuestion"
                  class="relative stroke-1 text-sky-500 size-10 fill-sky-500/20"></lucide-angular>
              </div>
              <div class="mt-3">
                <h6 class="mb-1">FAQ</h6>
                <p class="mb-2 text-gray-500 dark:text-dark-500">Did you know that the FAQs form part of the licenses?
                </p>
                <a href="https://themeforest.net/licenses/faq" class="underline text-primary-500">Read on for more
                  details</a>
              </div>
            </div>
          </div>

          <div class="mb-0 card">
            <div class="card-body">
              <div class="flex items-center justify-center size-16 bg-gradient-to-b from-red-500/10 rounded-modern">
                <lucide-angular name="Headset" class="relative text-red-500 stroke-1 size-10 fill-red-500/20">
                </lucide-angular>
              </div>
              <div class="mt-3">
                <h6 class="mb-1">Support</h6>
                <p class="mb-2 text-gray-500 dark:text-dark-500">Still have a burning question?</p>
                <a href="https://help.market.envato.com/hc/en-us" class="underline text-primary-500">Have a chat with
                  our friendly Help Team</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
