<div
  class="relative flex items-center justify-center min-h-screen py-12 from-sky-100 dark:from-sky-500/15 ltr:bg-gradient-to-l rtl:bg-gradient-to-r via-green-50 dark:via-green-500/10 to-pink-50 dark:to-pink-500/10">
  <div class="container">
    <div class="grid grid-cols-12">
      <div
        class="col-span-12 mb-0 md:col-span-10 lg:col-span-6 xl:col-span-4 md:col-start-2 lg:col-start-4 xl:col-start-5 card">
        <div class="md:p-10 card-body">
          <div class="mb-5 text-center">
            <a routerLink="/">
              <img src="assets/images/main-logo.png" alt="" class="h-14 mx-auto dark:hidden">
              <img src="../../../../assets/images/logo-white.png" alt="" class="hidden h-8 mx-auto dark:inline-block"></a>
          </div>
          <h4
            class="mb-1 font-bold leading-relaxed text-center text-transparent drop-shadow-lg ltr:bg-gradient-to-r rtl:bg-gradient-to-l from-primary-500 vie-purple-500 to-pink-500 bg-clip-text">
            Không có quyền truy cập</h4>
          <p class="text-center text-gray-500 dark:text-dark-500">Xin lỗi, bạn không có quyền truy cập vào trang này.</p>
          <p class="mb-6 text-center text-gray-500 dark:text-dark-500">Vui lòng liên hệ với quản trị viên để được hỗ trợ.</p>
          <div class="justify-center gap-2 mt-6 sm:flex">
            <a href="javascript: void(0);" class="btn btn-primary" (click)="this.router.navigate(['/dashboard'])">Quay lại trang chủ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
