<div
  class="grid grid-cols-12 gap-0 from-sky-500/10 ltr:bg-gradient-to-l rtl:bg-gradient-to-r via-green-500/5 to-pink-500/5">
  <div class="col-span-6 col-start-4">
    <div class="flex flex-col justify-center w-full h-screen">
      <div>
        <lucide-angular name="CircleCheckBig" class="mb-6 text-green-500 size-10 fill-green-500/10"></lucide-angular>
        <h2 class="mb-2">Thank you, we accepted your Challenge</h2>
        <p class="mb-6 text-gray-500 dark:text-dark-500">Usually, we need 24 hours to read the information
          you sent. We will get back to you as soon as possible.</p>
        <a routerLink="/" class="btn btn-primary">
          Back to Home
          <lucide-angular name="MoveRight" class="ml-1 ltr:inline-block rtl:hidden size-4"></lucide-angular>
          <lucide-angular name="MoveLeft" class="mr-1 ltr:hidden rtl:inline-block size-4"></lucide-angular>
        </a>
      </div>
    </div>
  </div>
</div>
