<app-page-title [pageTitle]="'Orders'" [Title]="'Overview'"></app-page-title>

<div class="card">
  <div class="card-body">
    <div class="flex flex-wrap items-center gap-5">
      <div class="grow">
        <h6 class="mb-1">Đơn hàng: PD-{{this.order.orderId}}</h6>
        <p class="mb-3 text-gray-500 dark:text-dark-500">Ngày nhận: {{this.order.orderCreatedAt | date: 'dd/MM/yyyy' }}</p>
        <span *ngIf="order.orderStatus === 'INIT'" class="align-middle badge badge-yellow">Chờ xác nhận</span>
        <span *ngIf="order.orderStatus === 'APPROVED'" class="align-middle badge badge-green">Đã duyệt</span>
        <span *ngIf="order.orderStatus === 'REJECTED'" class="align-middle badge badge-red">Từ chối</span>
      </div>
      <div class="items-center gap-2 sm:flex shrink-0" *ngIf="this.order.orderStatus === 'INIT'">
        <button *ngIf="role.includes('ROLE_RESTAURANT')" class="btn btn-icon-overlay border border-green-600 bg-green-100 text-green-700 hover:bg-green-200" (click)="updateOrder(order.orderId,'APPROVED')">
          <span class="icon">
            <lucide-angular name="check" class="size-4 text-green-700"></lucide-angular>
          </span> Chấp nhận
        </button>
        <button *ngIf="role.includes('ROLE_RESTAURANT')" class="btn btn-icon-overlay border border-red-600 bg-red-100 text-red-700 hover:bg-red-200" (click)="updateOrder(order.orderId,'REJECTED')">
          <span class="icon">
            <lucide-angular name="x" class="size-4 text-red-700"></lucide-angular>
          </span> Từ chối
        </button>
        <button *ngIf="role.includes('ROLE_USER')" class="btn btn-icon-overlay border border-red-600 bg-red-100 text-red-700 hover:bg-red-200" (click)="openConfirmModal()">
          <span class="icon">
            <lucide-angular name="x" class="size-4 text-red-700"></lucide-angular>
          </span> Hủy đơn
        </button>
      </div>
    </div>
  </div>
  <div id="confirmModal" class="modal" *ngIf="showConfirmModal">
    <div class="modal-wrap modal-xs modal-center">
      <div class="text-center modal-content p-7">
        <div class="flex items-center justify-center mx-auto mb-4 text-yellow-500 rounded-full bg-yellow-500/10 size-14 backdrop-blur-xl">
          <lucide-angular name="badge-check" class="size-5"></lucide-angular>
        </div>
        <h5 class="mb-4 text-yellow-600 font-semibold">Xác nhận hủy đơn</h5>
        <p class="mb-4 text-sm text-gray-600">
          Bạn có chắc chắn muốn hủy đơn hàng trên không?
        </p>
        <div class="flex items-center justify-center gap-2">
          <button class="btn link link-primary" (click)="cancelConfirmModal()">Đóng</button>
          <button class="btn btn-primary" (click)="cancelOrder(this.order.orderId)">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
      <div class="space-y-2">
        <p class="text-gray-500 dark:text-dark-500">Khách hàng: <span class="font-medium text-gray-800 dark:text-dark-50">{{this.order.userName}}</span></p>
        <p class="text-gray-500 dark:text-dark-500">Số điện thoại: <span class="font-medium text-gray-800 dark:text-dark-50">{{this.order.userPhone}}</span></p>
        <p class="text-gray-500 dark:text-dark-500">Địa chỉ: <span class="font-medium text-gray-800 dark:text-dark-50">{{this.order.orderDeliveryAddress}}</span></p>
        <p class="text-gray-500 dark:text-dark-500">Phương thức thanh toán: <span class="font-medium text-gray-800 dark:text-dark-50">Thanh toán khi nhận hàng</span></p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h6 class="card-title">Sản phẩm</h6>
  </div>
  <div class="card-body">
    <div class="overflow-x-auto">
      <table class="table flush whitespace-nowrap">
        <tbody>
          <tr>
            <th>#</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Tổng tiền</th>
          </tr>
          <tr *ngFor="let item of order.orderItems,let i = index">
            <td>{{i+1}}</td>
            <td class="whitespace-nowrap">
              <div class="flex items-center gap-3">
                <div class="p-2 border border-gray-200 rounded-md dark:border-dark-800 shrink-0 size-16">
                  <img [src]="item.dishPhotoUrl" alt="">
                </div>
                <div>
                  <h6 class="mb-2"><a routerLink="/apps-ecommerce-dish-overview/{{item.dishId}}" class="text-current link link-primary">{{item.dishName}}</a></h6>
                </div>
              </div>
            </td>
            <td>{{item.orderItemPrice | number: '1.0' }}đ</td>
            <td>{{item.orderItemQuantity}}</td>
            <td>{{item.orderItemPrice * item.orderItemQuantity | number: '1.0'}}đ</td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <td>Số tiền</td>
            <td>{{this.subTotal | number: '1.0'}}đ</td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <td>Vat (6%)</td>
            <td>{{this.vat | number: '1.0'}}đ</td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <td>Discount</td>
            <td>0đ</td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <td>Phí ship</td>
            <td>{{this.shipFee| number: '1.0'}}đ</td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <td>Tổng tiền</td>
            <td>{{this.totalAmount| number: '1.0'}}đ</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

