<div class="relative flex items-center justify-center min-h-screen py-12 from-sky-100 dark:from-sky-500/15 ltr:bg-gradient-to-l rtl:bg-gradient-to-r via-green-50 dark:via-green-500/10 to-pink-50 dark:to-pink-500/10">
  <div class="container">
    <div class="grid grid-cols-12">
      <div class="col-span-12 mb-0 md:col-span-10 lg:col-span-6 2xl:col-span-4 md:col-start-2 lg:col-start-4 2xl:col-start-5 card">
        <div class="md:p-10 card-body">
          <div class="mb-4 text-center">
            <div class="flex items-center justify-center mx-auto size-14">
              <lucide-angular name="MailOpen" class="text-gray-500 stroke-1 dark:text-dark-500 size-10 fill-gray-100 dark:fill-dark-850"></lucide-angular>
            </div>
          </div>
          <h4 class="mb-2 font-bold leading-relaxed text-center text-transparent drop-shadow-lg ltr:bg-gradient-to-r rtl:bg-gradient-to-l from-primary-500 vie-purple-500 to-pink-500 bg-clip-text">
            OTP Verification</h4>
          <p class="mb-5 text-center text-gray-500">We're sent a code to <b>sophiamia&#64;srbthemes.com</b></p>
          <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
            <div class="flex items-center justify-center gap-3">
              <input type="text" class="text-2xl font-extrabold text-center bg-gray-100 border border-transparent rounded outline-none appearance-none size-9 sm:size-12 md:size-14 text-slate-900 dark:text-dark-50 dark:bg-dark-850 hover:border-slate-200 dark:hover:border-dark-800 focus:bg-white dark:focus:bg-dark-900 focus:border-primary-400 dark:focus:border-primary-500 focus:ring-2 focus:ring-primary-500/15" formControlName="otp1" maxlength="1" (input)="moveFocus($event, 1)" />
              <input type="text" class="text-2xl font-extrabold text-center bg-gray-100 border border-transparent rounded outline-none appearance-none size-9 sm:size-12 md:size-14 text-slate-900 dark:text-dark-50 dark:bg-dark-850 hover:border-slate-200 dark:hover:border-dark-800 focus:bg-white dark:focus:bg-dark-900 focus:border-primary-400 dark:focus:border-primary-500 focus:ring-2 focus:ring-primary-500/15" formControlName="otp2" maxlength="1" (input)="moveFocus($event, 2)" />
              <input type="text" class="text-2xl font-extrabold text-center bg-gray-100 border border-transparent rounded outline-none appearance-none size-9 sm:size-12 md:size-14 text-slate-900 dark:text-dark-50 dark:bg-dark-850 hover:border-slate-200 dark:hover:border-dark-800 focus:bg-white dark:focus:bg-dark-900 focus:border-primary-400 dark:focus:border-primary-500 focus:ring-2 focus:ring-primary-500/15" formControlName="otp3" maxlength="1" (input)="moveFocus($event, 3)" />
              <input type="text" class="text-2xl font-extrabold text-center bg-gray-100 border border-transparent rounded outline-none appearance-none size-9 sm:size-12 md:size-14 text-slate-900 dark:text-dark-50 dark:bg-dark-850 hover:border-slate-200 dark:hover:border-dark-800 focus:bg-white dark:focus:bg-dark-900 focus:border-primary-400 dark:focus:border-primary-500 focus:ring-2 focus:ring-primary-500/15" formControlName="otp4" maxlength="1" (input)="moveFocus($event, 4)" />
              <input type="text" class="text-2xl font-extrabold text-center bg-gray-100 border border-transparent rounded outline-none appearance-none size-9 sm:size-12 md:size-14 text-slate-900 dark:text-dark-50 dark:bg-dark-850 hover:border-slate-200 dark:hover:border-dark-800 focus:bg-white dark:focus:bg-dark-900 focus:border-primary-400 dark:focus:border-primary-500 focus:ring-2 focus:ring-primary-500/15" formControlName="otp5" maxlength="1" (input)="moveFocus($event, 5)" />
              <input type="text" class="text-2xl font-extrabold text-center bg-gray-100 border border-transparent rounded outline-none appearance-none size-9 sm:size-12 md:size-14 text-slate-900 dark:text-dark-50 dark:bg-dark-850 hover:border-slate-200 dark:hover:border-dark-800 focus:bg-white dark:focus:bg-dark-900 focus:border-primary-400 dark:focus:border-primary-500 focus:ring-2 focus:ring-primary-500/15" formControlName="otp6" maxlength="1" (input)="moveFocus($event, 6)" />
            </div>
            <div class="mt-5">
              <button type="submit" class="w-full btn btn-primary">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>