<app-page-title [pageTitle]="'Đặt hàng'" [Title]="'Thanh toán'"></app-page-title>

<div class="grid grid-cols-12 gap-space">
    <div class="col-span-12 2xl:col-span-8">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Chi tiết nhận hàng</h6>
            </div>
            <div class="card-body">
                <div *ngIf="loginUserAddress.length > 0">
                    <ng-container class="card" *ngFor="let address of loginUserAddress;let i=index">
                        <div class="card">
                            <div class="card-body">
                                <span class="badge badge-gray">{{address.type}}</span>
                                <h6 class="mt-2 mb-1">{{ address.lastName + ' - ' + address.phone}}</h6>
                                <p class="mb-3 text-gray-500 dark:text-dark-500">{{address.address}}</p>
                                <button (click)="selectAdd(address)" [ngClass]="address.selected ? 'btn btn-primary' : 'btn btn-sub-gray'">
                                    <span>{{address.selected ? 'Đã chọn' : 'Chọn địa chỉ này'}}</span>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div>
                    <!-- <div class="text-right">
                        <button class="btn btn-green">
                            Add a New Address
                        </button>
                    </div> -->

                    <div class="mt-3">
                        <h6 class="mb-2"> {{clickedIndex !== null ? 'Edit Address' : 'Add a New Address' }}</h6>
                        <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                            <div class="grid grid-cols-12 gap-5">
                                <div class="col-span-12 md:col-span-6">
                                    <label for="lastName" class="form-label">Họ tên</label>
                                    <input type="text" id="lastName" class="form-input" placeholder="Nhập tên của bạn" formControlName="lastName">
                                    <span *ngIf="addressForm.get('lastName')?.invalid && addressForm.get('lastName')?.touched" class="text-red-500">
                                        Hãy nhập họ tên!
                                    </span>
                                </div>

                                <div class="col-span-12 md:col-span-6">
                                    <label for="phoneNumber" class="form-label">Số điện thoại</label>
                                    <input type="tel" id="phoneNumber" class="form-input" placeholder="1234567890" formControlName="phone">
                                    <span *ngIf="addressForm.get('phone')?.invalid && addressForm.get('phone')?.touched" class="text-red-500">
                                        Số điện thoại không hợp lệ
                                    </span>
                                </div>
                                <div class="col-span-12">
                                    <label for="textareaInput2" class="form-label">Địa chỉ nhận hàng</label>
                                    <textarea name="textareaInput2" id="textareaInput2" rows="3" class="h-auto form-input" placeholder="Số nhà và đường" formControlName="address"></textarea>
                                    <span *ngIf="addressForm.get('address')?.invalid && addressForm.get('address')?.touched" class="text-red-500">
                                        Hãy nhập địa chỉ
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div id="successModal" class="modal" *ngIf="showSuccessModal">
    <div class="modal-wrap modal-xs modal-center">
      <div class="text-center modal-content p-7">
        <div class="flex items-center justify-center mx-auto mb-4 text-green-500 rounded-full bg-green-500/10 size-14 backdrop-blur-xl">
          <lucide-angular name="circle-check-big" class="size-5"></lucide-angular>
        </div>
        <h5 class="mb-4 text-green-600 font-semibold">Đặt món thành công!</h5>
        <p class="mb-4 text-sm text-gray-600">
          Cảm ơn bạn đã đặt món. Đơn hàng của chúng tôi phản hồi sớm nhất!.
        </p>
        <div class="flex items-center justify-center">
          <button class="btn btn-primary" (click)="closeSuccessModal()">Đóng</button>
        </div>
      </div>
    </div>
  </div>
  <div id="confirmModal" class="modal" *ngIf="showConfirmModal">
    <div class="modal-wrap modal-xs modal-center">
      <div class="text-center modal-content p-7">
        <div class="flex items-center justify-center mx-auto mb-4 text-yellow-500 rounded-full bg-yellow-500/10 size-14 backdrop-blur-xl">
          <lucide-angular name="badge-check" class="size-5"></lucide-angular>
        </div>
        <h5 class="mb-4 text-yellow-600 font-semibold">Xác nhận đặt món</h5>
        <p class="mb-4 text-sm text-gray-600">
          Bạn có chắc chắn muốn đặt các món trên không?
        </p>
        <div class="flex items-center justify-center gap-2">
          <button class="btn link link-primary" (click)="cancelConfirmModal()">Hủy</button>
          <button class="btn btn-primary" (click)="confirmOrders()">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
    <div class="col-span-12 2xl:col-span-4">
        <div class="sticky mb-5 top-24">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Chi tiết đơn hàng</h6>
                </div>
                <div class="card-body">
                    <app-final-order-summary></app-final-order-summary>
                    <div class="my-4">
                        <a class="w-full btn btn-primary" (click)="openConfirmModal()">Đặt hàng</a>
                    </div>
                    <p class="text-center text-gray-500 dark:text-dark-500">Khi bạn chọn 'Đặt hàng' là bạn đã đồng ý với các điều khoản của chúng tôi</p>
                </div>
            </div>
            <div class="flex gap-4 mb-5">
                <div class="flex items-center justify-center bg-gray-100 rounded-md size-12 shrink-0 dark:bg-dark-850">
                    <lucide-angular name="shield-check" class="text-gray-500 dark:text-dark-500 fill-gray-200 dark:fill-dark-850"></lucide-angular>
                </div>
                <div>
                    <h6 class="mb-1">An toàn và nhanh chóng</h6>
                    <p class="text-gray-500 dark:text-dark-500">Đơn hàng của bạn sẽ được giao tới tận tay bạn</p>
                </div>
            </div>
        </div>
    </div>
</div>
