<div class="relative mb-6">
  <div class="relative overflow-hidden rounded-md h-44 bg-primary-500/10">
    <div
      class="border-[60px] border-t-primary-500 border-l-primary-500 absolute opacity-10 -top-2 left-0 rotate-45 size-96">
    </div>
    <div class="border-[60px] border-green-500 absolute opacity-10 top-20 left-8 rotate-45 size-80"></div>
    <div class="border-[60px] border-pink-500 absolute opacity-10 top-36 left-28 rotate-45 size-40"></div>
  </div>
  <div class="text-center">
    <div class="relative inline-block mx-auto">
      <div class="relative p-1 rounded-full bg-gradient-to-tr from-primary-300 via-red-300 to-green-300 -mt-14">
        <img src="assets/images/avatar/user-14.png" alt=""
          class="mx-auto border-4 border-white rounded-full dark:border-dark-900 size-28">
      </div>
      <div
        class="absolute border-2 border-white dark:border-dark-900 rounded-full size-4 bg-green-500 bottom-2.5 ltr:right-2.5 rtl:left-2.5">
      </div>
    </div>
    <h5 class="mt-2 mb-1">Danny Carroll
      <lucide-angular name="BadgeCheck" class="inline-block text-primary-500 fill-primary-500/20 size-5">
      </lucide-angular>
    </h5>
    <ul class="flex flex-wrap items-center justify-center gap-2 text-gray-500 dark:text-dark-500 text-14">
      <li>
        <lucide-angular name="Building2" class="inline-block ltr:mr-1 rtl:ml-1 size-4"></lucide-angular><span
          class="align-middle">UI /
          UX Designer</span>
      </li>
      <li>
        <lucide-angular name="MapPin" class="inline-block ltr:mr-1 rtl:ml-1 size-4"></lucide-angular> <span
          class="align-middle">Argentina</span>
      </li>
      <li>
        <lucide-angular name="ShieldCheck" class="inline-block ltr:mr-1 rtl:ml-1 size-4"></lucide-angular> <span
          class="align-middle">24 April, 2024</span>
      </li>
    </ul>
  </div>
</div>

<ul class="pb-2 overflow-x-auto tabs-pills lg:pb-0">
  <li>
    <a routerLink="/dashboard/pages-account-settings"
      class="nav-item text-gray-500 dark:text-dark-500 [&.active]:bg-primary-500 [&.active]:text-primary-50">
      <lucide-angular name="UserRound" class="inline-block ltr:mr-1 rtl:ml-1 size-4"></lucide-angular><span
        class="align-middle whitespace-nowrap">Account</span>
    </a>
  </li>
  <li>
    <a routerLink="/dashboard/pages-account-security"
      class="nav-item text-gray-500 dark:text-dark-500 [&.active]:bg-primary-500 [&.active]:text-primary-50">
      <lucide-angular name="ShieldCheck" class="inline-block ltr:mr-1 rtl:ml-1 size-4"></lucide-angular><span
        class="align-middle whitespace-nowrap">Security</span>
    </a>
  </li>
  <li>
    <a routerLink="/dashboard/pages-account-billing-plan"
      class="nav-item text-gray-500 dark:text-dark-500 [&.active]:bg-primary-500 [&.active]:text-primary-50">
      <lucide-angular name="Gem" class="inline-block ltr:mr-1 rtl:ml-1 size-4"></lucide-angular><span
        class="align-middle whitespace-nowrap">Billing & Plans</span>
    </a>
  </li>
  <li>
    <a routerLink="/dashboard/pages-account-notification"
      class="nav-item text-gray-500 dark:text-dark-500 [&.active]:bg-primary-500 [&.active]:text-primary-50 ">
      <lucide-angular name="Bell" class="inline-block ltr:mr-1 rtl:ml-1 size-4"></lucide-angular><span
        class="align-middle whitespace-nowrap">Notification</span>
    </a>
  </li>
  <li>
    <a routerLink="/dashboard/pages-account-statements"
      class="nav-item text-gray-500 dark:text-dark-500 [&.active]:bg-primary-500 [&.active]:text-primary-50">
      <lucide-angular name="ListTree" class="inline-block ltr:mr-1 rtl:ml-1 size-4"></lucide-angular><span
        class="align-middle whitespace-nowrap">Statements</span>
    </a>
  </li>
  <li>
    <a routerLink="/dashboard/pages-account-logs"
      class="nav-item text-gray-500 dark:text-dark-500 [&.active]:bg-primary-500 [&.active]:text-primary-50 active">
      <lucide-angular name="LogOut" class="inline-block ltr:mr-1 rtl:ml-1 size-4"></lucide-angular><span
        class="align-middle whitespace-nowrap">Logs</span>
    </a>
  </li>
</ul>

<div class="mt-5 card">
  <div class="flex items-center gap-3 card-header">
    <h6 class="card-title grow">Device and active sessions</h6>
    <button type="button" class="flex px-3 py-1.5 text-xs font-medium btn-sub-gray btn">All Logouts
      <lucide-angular name="MoveRight" class="inline-block ml-2 size-4"></lucide-angular>
    </button>
  </div>
  <div class="card-body">
    <div class="grid grid-cols-1 gap-5 md:grid-cols-2 xl:grid-cols-3">
      <div class="mb-0 card">
        <div class="flex items-center gap-3 card-body">
          <div class="flex items-center justify-center size-12 shrink-0">
            <lucide-angular name="MonitorSmartphone" class="text-green-500 fill-green-500/10"></lucide-angular>
          </div>
          <div class="grow">
            <h6 class="mb-1">Apple Mac 12.5.1 <span class="text-xs ltr:ml-1 rtl:mr-1 badge badge-green">Online</span>
            </h6>
            <p class="text-sm text-gray-500 dark:text-dark-500">London, United Kingdom. - 81.64.22.98</p>
          </div>
          <div class="dropdown shrink-0">
            <button x-ref="button" type="button" class="flex link link-primary" domixDropdownToggle
              [dropdownMenu]="dropdown1">
              <lucide-angular name="ChevronRight" class=""></lucide-angular>
            </button>

            <div class="!fixed p-2 dropdown-menu dropdown-right !fixed" #dropdown1>
              <a href="javascript: void(0);" class="dropdown-item">
                Overview
              </a>
              <a data-modal-target="logoutModal" href="javascript: void(0);" class="dropdown-item">
                Log Out
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-0 card">
        <div class="flex items-center gap-3 card-body">
          <div class="flex items-center justify-center size-12 shrink-0">
            <lucide-angular name="Smartphone" class="text-gray-500 fill-gray-100 dark:text-dark-500 dark:fill-dark-850">
            </lucide-angular>
          </div>
          <div class="grow">
            <h6 class="mb-1">Apple iPhone iOS 14.8.5 <span
                class="text-xs ltr:ml-1 rtl:mr-1 badge badge-gray">Offline</span></h6>
            <p class="text-sm text-gray-500 dark:text-dark-500">Berlin, Germany. - 225.222.152.154</p>
          </div>
          <div class="dropdown shrink-0">
            <button x-ref="button" type="button" class="flex link link-primary" domixDropdownToggle
              [dropdownMenu]="dropdown2">
              <lucide-angular name="ChevronRight" class=""></lucide-angular>
            </button>

            <div class="!fixed p-2 dropdown-menu dropdown-right" #dropdown2>
              <a href="javascript: void(0);" class="dropdown-item">
                Overview
              </a>
              <a data-modal-target="logoutModal" href="javascript: void(0);" class="dropdown-item">
                Log Out
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-0 card">
        <div class="flex items-center gap-3 card-body">
          <div class="flex items-center justify-center size-12 shrink-0">
            <lucide-angular name="Smartphone" class="text-gray-500 fill-gray-100 dark:text-dark-500 dark:fill-dark-850">
            </lucide-angular>
          </div>
          <div class="grow">
            <h6 class="mb-1">Samsung Phone s24 <span class="text-xs ltr:ml-1 rtl:mr-1 badge badge-gray">Offline</span>
            </h6>
            <p class="text-sm text-gray-500 dark:text-dark-500">Paris, France. - 225.222.152.154</p>
          </div>
          <div class="dropdown shrink-0">
            <button x-ref="button" type="button" class="flex link link-primary" domixDropdownToggle
              [dropdownMenu]="dropdown3">
              <lucide-angular name="ChevronRight" class=""></lucide-angular>
            </button>

            <div class="!fixed p-2 dropdown-menu dropdown-right" #dropdown3>
              <a href="javascript: void(0);" class="dropdown-item">
                Overview
              </a>
              <a data-modal-target="logoutModal" href="javascript: void(0);" class="dropdown-item">
                Log Out
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-0 card">
        <div class="flex items-center gap-3 card-body">
          <div class="flex items-center justify-center size-12 shrink-0">
            <lucide-angular name="Smartphone" class="text-gray-500 fill-gray-100 dark:text-dark-500 dark:fill-dark-850">
            </lucide-angular>
          </div>
          <div class="grow">
            <h6 class="mb-1">Apple iPhone iOS 14.8.5 <span
                class="text-xs ltr:ml-1 rtl:mr-1 badge badge-gray">Offline</span></h6>
            <p class="text-sm text-gray-500 dark:text-dark-500">Berlin, Germany. - 225.222.152.154</p>
          </div>
          <div class="dropdown shrink-0">
            <button x-ref="button" type="button" class="flex link link-primary" domixDropdownToggle
              [dropdownMenu]="dropdown4">
              <lucide-angular name="ChevronRight" class=""></lucide-angular>
            </button>

            <div class="!fixed p-2 dropdown-menu dropdown-right" #dropdown4>
              <a href="javascript: void(0);" class="dropdown-item">
                Overview
              </a>
              <a data-modal-target="logoutModal" href="javascript: void(0);" class="dropdown-item">
                Log Out
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-0 card">
        <div class="flex items-center gap-3 card-body">
          <div class="flex items-center justify-center size-12 shrink-0">
            <lucide-angular name="Smartphone" class="text-gray-500 fill-gray-100 dark:text-dark-500 dark:fill-dark-850">
            </lucide-angular>
          </div>
          <div class="grow">
            <h6 class="mb-1">Samsung Phone s24 <span class="text-xs ltr:ml-1 rtl:mr-1 badge badge-gray">Offline</span>
            </h6>
            <p class="text-sm text-gray-500 dark:text-dark-500">Paris, France. - 225.222.152.154</p>
          </div>
          <div class="dropdown shrink-0">
            <button x-ref="button" type="button" class="flex link link-primary" domixDropdownToggle
              [dropdownMenu]="dropdown5">
              <lucide-angular name="ChevronRight" class=""></lucide-angular>
            </button>

            <div class="!fixed p-2 dropdown-menu dropdown-right" #dropdown5>
              <a href="javascript: void(0);" class="dropdown-item">
                Overview
              </a>
              <a data-modal-target="logoutModal" href="javascript: void(0);" class="dropdown-item">
                Log Out
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div id="logoutModal" class="hidden modal show">
  <div class="modal-wrap modal-xs modal-center">
      <div class="text-center modal-content p-7">
          <div class="flex items-center justify-center mx-auto mb-4 bg-red-500 rounded-full size-12 text-red-50 ring-4 ring-red-100">
              <i data-lucide="log-out" class="size-6"></i>
          </div>
          <h5 class="mb-2">Logout This Device</h5>
          <p class="mb-5 text-gray-500">Are you sure you want to log out from this device?</p>
          <div class="flex items-center justify-end gap-2">
              <button class="btn btn-red">Logout Device</button>
              <button data-modal-close="logoutModal" class="btn link link-primary">Cancel</button>
          </div>
      </div>
  </div>
</div>

<div id="logoutAllModal" class="hidden modal show">
  <div class="modal-wrap modal-xs modal-center">
      <div class="text-center modal-content p-7">
          <div class="flex items-center justify-center mx-auto mb-4 bg-red-500 rounded-full size-12 text-red-50 ring-4 ring-red-100">
              <i data-lucide="log-out" class="size-6"></i>
          </div>
          <h5 class="mb-2">All Devices Logout</h5>
          <p class="mb-5 text-gray-500">Are you sure you want to log out from all device?</p>
          <div class="flex items-center justify-end gap-2">
              <button class="btn btn-red">Logout Device</button>
              <button data-modal-close="logoutAllModal" class="btn link link-primary">Cancel</button>
          </div>
      </div>
  </div>
</div> -->
