.previewImages{
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.resImg{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.cell1{
  width: 120px;
}
.dishImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon{
  width: 16%;
}
.name{
  width: 75%;
}
