<app-page-title [Title]="'Tổng quan'" [pageTitle]="'Dashboards'"></app-page-title>

<div class="grid grid-cols-12 gap-x-space">
  <div class="relative order-1 col-span-12 2xl:col-span-12 card">
    <div class="card-body">
      <h6 class="mb-2 card-title">Xin chào <span class="text-primary">bạn</span></h6>
      <p class="text-gray-500 dark:text-dark-500">Số đơn hàng trong tháng này tăng {{this.percent | number:'1.2-2'}}% so với tháng trước</p>

      <div class="grid grid-cols-12 mt-12 mb-5 md:mb-0">
        <div class="col-span-6 border-gray-200 md:col-span-4 lg:col-span-2 ltr:border-r rtl:border-l dark:border-dark-800">
          <h6 class="mb-1.5"><span class="counters" >{{this.currentRevenue.totalRevenue | number : '1.0'}}</span>VND
            <lucide-angular name="trending-up" class="inline-block ml-1 text-green-500 size-4"></lucide-angular>
          </h6>
          <p class="text-gray-500 dark:text-dark-500">Doanh thu tháng này</p>
        </div>
        <div class="col-span-6 md:col-span-4 lg:col-span-3 ltr:pl-5 rtl:pr-5">
          <h6 class="mb-1.5"><span class="counters">{{this.percent | number:'1.2-2'}}</span>%
            <lucide-angular name="trending-up" class="inline-block ml-1 text-green-500 size-4"></lucide-angular>
          </h6>
          <p class="text-gray-500 dark:text-dark-500">Tăng trưởng so với cùng kì tháng trước</p>
        </div>
      </div>
      <div class="absolute bottom-0 ltr:right-0 rtl:left-0 lg:block">
        <div class="absolute inset-0 ltr:bg-gradient-to-r rtl:bg-gradient-to-l from-white dark:from-dark-900"></div>
        <img src="assets/images/dashboards/ecommerce/pattern.png" alt="" class="h-32">
      </div>
      <img src="assets/images/dashboards/ecommerce/img-01.png" alt="" class="mx-auto md:absolute bottom-2 ltr:right-5 rtl:left-5">
    </div>
  </div>
  <div class="order-6 col-span-12 2xl:order-4 2xl:row-span-2 2xl:col-span-8 card">
    <div class="flex flex-col md:items-center md:flex-row gap-space card-header">
      <h6 class="card-title grow">Báo cáo doanh số</h6>
      <div class="flex items-center gap-2 shrink-0">
        <button type="button" [ngClass]="activeReportType === 'dailyReport' ? 'py-1.5 px-3 btn btn-primary' : 'py-1.5 px-3 btn btn-outline-gray border-gray-200 dark:border-dark-800'" (click)="this.getDailyReport()">Hôm nay</button>
        <button type="button" [ngClass]="activeReportType === 'weeklyReport' ? 'py-1.5 px-3 btn btn-primary' : 'py-1.5 px-3 btn btn-outline-gray border-gray-200 dark:border-dark-800'" (click)="this.getWeeklyReport()" >Hàng ngày</button>
        <button type="button" [ngClass]="activeReportType === 'monthlyReport' ? 'py-1.5 px-3 btn btn-primary' : 'py-1.5 px-3 btn btn-outline-gray border-gray-200 dark:border-dark-800'" (click)="this.getMonthlyReport()">Hàng tháng</button>
      </div>
    </div>
    <div class="card-body">
      <app-domix-charts   *ngIf="basicChart" [series]="basicChart.series" [chartOptions]="basicChart.chartOptions">
      </app-domix-charts>
    </div>
  </div>


  <div class="order-7 col-span-12 2xl:col-span-4 card">
    <div class="card-body">
      <div x-init="calculatePosition()" class="dropdown float-end">
        <button type="button" domixDropdownToggle [dropdownMenu]="dropdown4" class="flex px-3 py-1.5 text-xs border-gray-200 font-medium dark:border-dark-800 link link-primary btn">
          {{this.orderSaleType}}
          <svg :class="{ 'transform rotate-180': open }" class="transition-transform duration-300 ltr:ml-1 rtl:mr-1 size-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
        <div #dropdown4 class="!fixed p-2 dropdown-menu hidden" dropdown-position="right">
          <ul>
            <li>
              <a (click)="this.getDailyOrder()" class="dropdown-item cursor-pointer">
                <span>Hôm nay</span>
              </a>
            </li>
            <li>
              <a (click)="this.getWeeklyOrder()" class="dropdown-item cursor-pointer">
                <span>Tuần này</span>
              </a>
            </li>
            <li>
              <a (click)="this.getMonthlyOrder()" class="dropdown-item cursor-pointer">
                <span>Tháng này</span>
              </a>
            </li>
            <li>
              <a (click)="this.getYearlyOrder()" class="dropdown-item cursor-pointer">
                <span>Năm này</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <h5 class="flex items-center gap-2 mb-1.5">{{this.orders | number : '1.0'}}<span class="leading-4 badge badge-sub-green">
          <lucide-angular name="trending-up" class="inline-block text-green-500 ltr:mr-1 rtl:ml-1 size-4">
          </lucide-angular>
          2.87
        </span></h5>
      <p class="mb-8 text-gray-500 dark:text-dark-500">Đơn hàng {{this.dishSaleType.toLocaleLowerCase()}}</p>
      <div class="progress-bar progress-2">
        <div class="w-3/4 text-white bg-green-500 progress-bar-wrap"></div>
      </div>
    </div>
  </div>

  <div class="order-8 col-span-12 2xl:col-span-8 2xl:row-span-2 card">
    <div class="flex items-center gap-3 card-header">
      <h6 class="card-title grow">Doanh thu món ăn</h6>
      <div class="dropdown shrink-0">
        <button domixDropdownToggle [dropdownMenu]="dropdown1" type="button" class="flex px-3 py-1.5 text-xs border-gray-200 font-medium dark:border-dark-800 link link-primary btn">
          {{this.dishSaleType}}
          <svg :class="{ 'transform rotate-180': open }" class="transition-transform duration-300 ltr:ml-1 rtl:mr-1 size-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
        <div #dropdown1 class="!fixed p-2 dropdown-menu hidden" dropdown-position="right">
          <ul>
            <li>
              <a (click)="this.getDailyDishSale()" class="dropdown-item cursor-pointer">
                <span>Hôm nay</span>
              </a>
            </li>
            <li>
              <a (click)="this.getWeeklyDishSale()" class="dropdown-item cursor-pointer">
                <span>Tuần này</span>
              </a>
            </li>
            <li>
              <a (click)="this.getMonthlyDishSale()" class="dropdown-item cursor-pointer">
                <span>Tháng này</span>
              </a>
            </li>
            <li>
              <a (click)="this.getYearlyDishSale()" class="dropdown-item cursor-pointer">
                <span>Năm này</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pt-0 card-body">
      <div class="overflow-x-auto table-box">
        <table class="table whitespace-nowrap">
          <thead>
            <tr class="text-gray-500 bg-gray-100 dark:bg-dark-850 dark:text-dark-500">
              <th class="cursor-pointer !font-medium">
                STT
              </th>
              <th (click)="sort('dishName')" class="cursor-pointer !font-medium">
                Món ăn
                <span *ngIf="sortBy === 'dishName'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
              </th>
              <th (click)="sort('totalQuantity')" class="cursor-pointer !font-medium">
                Doanh số
                <span *ngIf="sortBy === 'totalQuantity'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
              </th>
              <th (click)="sort('totalRevenue')" class="cursor-pointer !font-medium">
                Doanh thu
                <span *ngIf="sortBy === 'totalRevenue'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of displayedProducts, let i = index">
              <td>{{i + 1}}</td>
              <td class="whitespace-nowrap">
                <div class="flex items-center gap-2">
                  <div class="flex items-center justify-center p-1 border border-gray-200 rounded dark:border-dark-800 size-9">
                    <img [src]="product.imageUrl" alt="" class="rounded">
                  </div>
                  <h6><a>{{ product.dishName }}</a></h6>
                </div>
              </td>
              <td>{{ product.totalQuantity }}</td>
              <td>{{ product.totalRevenue | number : '1.0'}}</td>
            </tr>
            <tr *ngIf="displayedProducts.length === 0">
              <td colspan="5" class="!p-8">
                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto size-12" viewBox="0 0 48 48">
                  <linearGradient id="SVGID_1__h35ynqzIJzH4_gr1" x1="34.598" x2="15.982" y1="15.982" y2="34.598" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#60e8fe"></stop>
                    <stop offset=".033" stop-color="#6ae9fe"></stop>
                    <stop offset=".197" stop-color="#97f0fe"></stop>
                    <stop offset=".362" stop-color="#bdf5ff"></stop>
                    <stop offset=".525" stop-color="#dafaff"></stop>
                    <stop offset=".687" stop-color="#eefdff"></stop>
                    <stop offset=".846" stop-color="#fbfeff"></stop>
                    <stop offset="1" stop-color="#fff"></stop>
                  </linearGradient>
                  <path fill="url(#SVGID_1__h35ynqzIJzH4_gr1)" d="M40.036,33.826L31.68,25.6c0.847-1.739,1.335-3.684,1.335-5.748c0-7.27-5.894-13.164-13.164-13.164S6.688,12.582,6.688,19.852c0,7.27,5.894,13.164,13.164,13.164c2.056,0,3.995-0.485,5.728-1.326l3.914,4.015l4.331,4.331c1.715,1.715,4.496,1.715,6.211,0C41.751,38.321,41.751,35.541,40.036,33.826z">
                  </path>
                  <path fill="none" stroke="#10cfe3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M31.95,25.739l8.086,8.086c1.715,1.715,1.715,4.496,0,6.211l0,0c-1.715,1.715-4.496,1.715-6.211,0l-4.331-4.331">
                  </path>
                  <path fill="none" stroke="#10cfe3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M7.525,24.511c-1.771-4.694-0.767-10.196,3.011-13.975c3.847-3.847,9.48-4.817,14.228-2.912"></path>
                  <path fill="none" stroke="#10cfe3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M30.856,12.603c3.376,5.114,2.814,12.063-1.688,16.565c-4.858,4.858-12.565,5.129-17.741,0.814">
                  </path>
                </svg>
                <p class="mt-2 text-center text-gray-500 dark:text-dark-500">Không có sản phẩm được bán</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="grid items-center grid-cols-12 gap-space mt-space" *ngIf="displayedProducts.length > 0">
        <div class="col-span-12 text-center lg:col-span-6 lg:ltr:text-left lg:rtl:text-right">
          <p class="text-gray-500 dark:text-dark-500">
            Đang trình chiếu <b>{{ showingStart }}</b> tới <b>{{ showingEnd }}</b> của <b>{{ dishSale.length }}</b> bản ghi</p>
        </div>
        <div class="col-span-12 lg:col-span-6">
          <div class="flex justify-center gap-2 lg:justify-end pagination pagination-primary">
            <button (click)="prevPage()" [disabled]="currentPage === 1" class="pagination-pre ">
              <lucide-angular name="ChevronLeft" class="mr-1 ltr:inline-block rtl:hidden !size-4">
              </lucide-angular>
              <lucide-angular name="ChevronRight" class="ml-1 rtl:inline-block ltr:hidden !size-4">
              </lucide-angular>
            </button>
            <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
              <button (click)="gotoPage(i + 1)" [class.active]="i + 1 === currentPage" class="pagination-item">
                <span>{{ i + 1 }}</span>
              </button>
            </ng-container>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="pagination-next">
              <lucide-angular name="ChevronRight" class="ml-1 ltr:inline-block rtl:hidden !size-4">
              </lucide-angular>
              <lucide-angular name="ChevronLeft" class="mr-1 rtl:inline-block ltr:hidden !size-4">
              </lucide-angular>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
