<app-page-title [Title]="'Pricing'" [pageTitle]="'Pages'"></app-page-title>


<div class="grid grid-cols-12 gap-x-space">
  <div class="col-span-12 xl:col-span-8 xl:col-start-3">
    <div class="card">
      <div class="card-body">
        <div class="text-center mb-7">
          <h5 class="mb-1">Domiex - Admin & Dashboard Templates</h5>
          <p class="text-gray-500 dark:text-dark-500">Effective Date: 26 April, 2024</p>
        </div>

        <p class="mb-3 text-gray-500 dark:text-dark-500">[Your Company Name] ("we", "us", or "our") is committed to
          protecting the privacy and security of your personal information. This Privacy Policy outlines the types of
          information we collect, how we use it, and the measures we take to safeguard your information.</p>
        <h6 class="mb-2">Information We Collect</h6>
        <p class="mb-2 text-gray-500 dark:text-dark-500">We may collect the following types of information:</p>
        <ul class="mb-3 space-y-2 list-inside list-circle">
          <li><span class="font-semibold">Personal Information:</span> Such as your name, email address, phone number,
            and other contact information provided voluntarily when you interact with us through our website,
            applications, or other communication channels.</li>
          <li><span class="font-semibold">Usage Data:</span> Information about how you interact with our services,
            including your IP address, browser type, operating system, and other technical information.</li>
          <li><span class="font-semibold">Cookies and Similar Technologies:</span> We may use cookies, web beacons, and
            other tracking technologies to enhance your experience and gather information about your usage patterns.
          </li>
        </ul>
        <h6 class="mb-2">How We Use Your Information</h6>
        <p class="mb-2 text-gray-500 dark:text-dark-500">We may use the information we collect for the following
          purposes:</p>
        <ul class="mb-3 space-y-2 list-inside list-circle">
          <li>To provide and improve our services.</li>
          <li>To communicate with you about our products, services, and promotions.</li>
          <li>To personalize your experience and deliver relevant content.</li>
          <li>To analyze usage trends and improve the functionality of our website and applications.</li>
          <li>To protect the security and integrity of our systems.</li>
        </ul>
        <h6 class="mb-2">Information we collect as you use our services</h6>
        <div class="py-5">
          <img src="assets/images/others/pr.png" alt="" class="mx-auto max-h-44">
        </div>
        <p class="mb-2 text-gray-500 dark:text-dark-500">We collect information about the apps, browsers, and devices
          you use to access Google services, which helps us provide features like automatic product updates and dimming
          your screen if your battery runs low.</p>
        <p class="mb-2 text-gray-500 dark:text-dark-500">The information we collect includes unique identifiers, browser
          type and settings, device type and settings, operating system, mobile network information including carrier
          name and phone number, and application version number. We also collect information about the interaction of
          your apps, browsers, and devices with our services, including IP address, crash reports, system activity, and
          the date, time, and referrer URL of your request.</p>
        <p class="mb-3 text-gray-500 dark:text-dark-500">We collect this information when a Google service on your
          device contacts our servers — for example, when you install an app from the Play Store or when a service
          checks for automatic updates. If you’re using an Android device with Google apps, your device periodically
          contacts Google servers to provide information about your device and connection to our services. This
          information includes things like your device type and carrier name, crash reports, which apps you've
          installed, and, depending on your device settings, other information about how you’re using your Android
          device.</p>
        <h6 class="mb-2">Information Sharing</h6>
        <p class="mb-3 text-gray-500 dark:text-dark-500">We do not sell, trade, or otherwise transfer your personal
          information to third parties without your consent, except as required by law or as necessary to provide our
          services. We may share your information with trusted third-party service providers who assist us in operating
          our website, conducting our business, or servicing you.</p>
        <h6 class="mb-2">Data Security</h6>
        <p class="mb-3 text-gray-500 dark:text-dark-500">We implement appropriate technical and organizational measures
          to protect the security of your personal information and prevent unauthorized access, disclosure, alteration,
          or destruction.</p>
        <h6 class="mb-2">Your Choices</h6>
        <p class="mb-3 text-gray-500 dark:text-dark-500">You have the right to access, update, or delete your personal
          information at any time. You may also opt-out of receiving promotional communications from us by following the
          instructions provided in such communications.</p>
        <h6 class="mb-2">Children's Privacy</h6>
        <p class="mb-3 text-gray-500 dark:text-dark-500">Our services are not directed to children under the age of 13,
          and we do not knowingly collect personal information from children. If you believe that we have inadvertently
          collected information from a child, please contact us immediately.</p>
        <h6 class="mb-2">Changes to this Privacy Policy</h6>
        <p class="mb-3 text-gray-500 dark:text-dark-500">We may update this Privacy Policy from time to time to reflect
          changes in our practices or legal requirements. We will notify you of any material changes by posting the
          updated policy on our website.</p>
        <h6 class="mb-2">Contact Us</h6>
        <p class="mb-3 text-gray-500 dark:text-dark-500">If you have any questions or concerns about this Privacy Policy
          or our data practices, please contact us at [contact email or address].</p>
        <div class="flex justify-end gap-2 mt-5">
          <a href="javascript: void(0);" class="btn btn-green">Accepted</a>
          <a href="javascript: void(0);" class="border-dashed btn btn-dashed-red">I Disagree</a>
        </div>
      </div>
    </div>
  </div>

</div>
